<!DOCTYPE html>
<html>
	<head>
		<title>Train Status - Error</title>
	</head>
	<body>
		<p class="error">
			Status for train #<%= @train %> is unavailable. Perhaps this train has already departed or is far enough off that it's not yet listed.
		</p>
	</body>
</html>
