<!DOCTYPE html>
<html>
	<head>
		<title>Train Status</title>
	</head>
	<body>
		<div class="status">
			<%= @status[:status] %>
		</div>
		<div class="track">
			<%= @status[:track] %>
		</div>
	</body>
</html>
