<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Train Status</title>
		<link href="track.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="status">
			<%= @status[:status] %>
		</div>
		<div class="track">
			<%= @status[:track] %>
		</div>
	</body>
</html>
